[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "googlecode"]
	url = https://code.google.com/p/battery-indicator
	fetch = +refs/heads/*:refs/remotes/googlecode/*
[branch "master"]
	remote = googlecode
	merge = refs/heads/master
[remote "github"]
	url = git@github.com:darshan-/Battery-Indicator.git
	fetch = +refs/heads/*:refs/remotes/github/*
