<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darshancomputing.BatteryIndicatorPro"
    android:versionCode="53"
    android:versionName="4.0.2-dev"
>
  <application
      android:label="@string/app_full_name"
      android:icon="@drawable/battery"
      android:hardwareAccelerated="true"
  >
    <activity
        android:name=".BatteryIndicator"
        android:label="@string/app_launcher_name"
        android:theme="@style/bi_theme"
        android:screenOrientation="unspecified"
        android:stateNotNeeded="true"
        android:launchMode="singleTask"
        android:excludeFromRecents="true"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".SettingsActivity"
        android:label="@string/settings_activity_name"
        android:excludeFromRecents="true"
    />

    <activity
        android:name=".AlarmsActivity"
        android:label="@string/settings_activity_name"
        android:excludeFromRecents="true"
        android:hardwareAccelerated="false"
    />

    <activity
        android:name=".AlarmEditActivity"
        android:label="@string/settings_activity_name"
        android:excludeFromRecents="true"
    />

    <activity
        android:name=".SettingsHelpActivity"
        android:label="@string/settings_help_activity_name"
        android:theme="@style/bi_help_theme"
        android:stateNotNeeded="true"
        android:excludeFromRecents="true"
    />

    <activity
        android:name=".HelpActivity"
        android:label="@string/help_activity_name"
        android:theme="@style/bi_help_theme"
        android:stateNotNeeded="true"
        android:excludeFromRecents="true"
    />

    <activity
        android:name=".LogViewActivity"
        android:label="@string/log_view_activity_name"
        android:stateNotNeeded="true"
        android:excludeFromRecents="true"
    />

    <service android:name=".BatteryIndicatorService" />

    <receiver
        android:name=".BootCompletedReceiver"
        android:enabled="true"
        android:exported="false"
        android:label="BootCompletedReceiver"
    >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>

  <uses-sdk
      android:minSdkVersion="3"
      android:targetSdkVersion="11"
  />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
  />
</manifest>
